body,html,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbfbf5;
}

:root{
    --my-primary-color: #004161;
    --my-light-primary-color: #224360;
}

/* Root CSS End */


.nav-link {
    font-weight: 300;
    color: var(--my-light-primary-color);
    transition: font-weight .1s ease,color .3s ease,transform .3s ease,letter-spacing .3s ease;
}

.nav-modal-item {
    margin: 1.5rem 0;
}

.nav-modal-link {
    color: var(--my-light-primary-color);
    text-decoration: none;
    font-weight: 800;
    font-size: 2.5rem;
}

.nav-link:hover {
    color: var(--my-primary-color);
    font-weight: 800;
    transform: scale(1.1);
    letter-spacing: 2px;
    cursor: pointer;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--my-primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.modal-dialog {
  animation: expand-modal 0.3s ease-in-out;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--my-primary-color);
}

.for-background {
    height: 100vh;
    background-image: url('../img/header_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.recover-list {
    list-style: none;
    padding-left: 0.5rem;
}

.recover-list li::before {
    content: '-';
    padding-right: 5px;
}

.recover-more {
    border-color: var(--my-primary-color) !important;
    color: var(--my-primary-color);
}

.big-bend-see-more {
    color: var(--my-primary-color);
}

/* Class Selectors End */

#header-title {
    color: var(--my-light-primary-color);
    margin-top: 8rem;
    position: relative;
}

#navbar-toggler {
    color: var(--my-light-primary-color);
}

#recover {
    color: var(--my-light-primary-color);
}

#show-more {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: var(--my-primary-color);
    font-size: 1.2rem;
    transition: background-color 0.2s ease-in-out,color 0.2s ease-in-out;
}

#show-more:hover {
    background-color: var(--my-primary-color);
    color: white;
}

#show-more-icon {
    transition: transform .3s ease;
}

#big-bend {
    height: 550px;
    background-image: url('../img/big-bend-background.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


#big-bend-title {
    position: relative;
}

/* ID Selectors END */

@media screen and (max-width: 768px) {
    #header-title {
        margin-top: 4rem;
    }
}
@keyframes expand-modal {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
